extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Trending Navigator
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.my-2.my-lg-0
          li.nav-item 
            a.nav-link.js-scroll-trigger(href='#services') Services
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contact
          if(user)
            li.nav-item
              a.nav-link.js-scroll-trigger(href='logout')= "Hi, " + user.name
              
  // Masthead
  header.masthead
    .container.h-100
      .row.h-100.align-items-center.justify-content-center.text-center
        .col-lg-10.align-self-end
          h1.text-uppercase.text-white.font-weight-bold Trending Navigator
          hr.divider.my-4
        .col-lg-8.align-self-baseline
          p.text-white-75.font-weight-light.mb-5
            | Search and share trends topic searching region by region. Stay updated on what happens in the world and let others know!
          a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More
  // Services Section
  if(!user)
    // Login Section
    section#services.page-section.bg-primary
      .container
        .row.justify-content-center
          .col-lg-8.text-center
            h2.text-white.mt-0 We're almost there!
            hr.divider.light.my-4
            p.text-white-50.mb-4
              | To start using this service we just need you to login to your Facebook account in order to save your history and share the trends.
            a.btn.btn-light.btn-xl.js-scroll-trigger(href='login') Login with Facebook!
  else  
    // Call to Action Section
    section#services.page-section.bg-dark
      .container.text-center
        h2.mb-4.text-white Obtain Twitter trends by country:
        form(method='GET' action='/twitter')
            div.form-group
              input#country.form_control(type='text')
              input#country_code.form_control(type='hidden', name='id')
            button.btn.btn-light.btn-s.js-scroll-trigger.text-black(type='submit') Search!
    if(returnTweets)
      // Portfolio Section
      section#portfolio(name='divTwitter')
        .container-fluid.p-0
          .row.no-gutters 
            each Topic in returnTweets
              each Tweet in Topic.statuses
                if(Tweet.full_text.includes("https://"))
                  .fb-share-button(data-href=RegExp(/https(.*)/).exec(Tweet.full_text)[0])
                else
                  .fb-share-button(data-href=RegExp(/https(.*)/).exec(Tweet.retweeted_status.full_text)[0])
                if(Tweet.entities.media)
                  .col-lg-4.col-sm-6  
                    a.portfolio-box(href=Tweet.entities.media[0].media_url_https)
                      img.img-fluid(src=Tweet.entities.media[0].media_url_https , alt='')
                      .portfolio-box-caption
                        .project-category.text-white-50 
                          = Topic.search_metadata.query
                        .project-name
                          = Tweet.full_text
                else 
                  .col-lg-4.col-sm-6  
                    a.portfolio-box(href='images/portfolio/fullsize/1.jpg')
                      img.img-fluid(src='images/portfolio/thumbnails/1.jpg', alt='')
                      .portfolio-box-caption
                        .project-category.text-white-50 
                          = Topic.search_metadata.query
                        .project-name
                          = Tweet.full_text
  // Contact Section
  section#contact.page-section
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.mt-0 Let's Get In Touch!
          hr.divider.my-4
          p.text-muted.mb-5
            | If any bug is found, or you want to share a feedback, don't hesitate to contact us!
      .row
        .col-lg-4.mr-auto.text-center
          i.fas.fa-envelope.fa-3x.mb-3.text-muted
          a.d-block(href='mailto:alessioprescenzo@gmail.com') alessioprescenzo@gmail.com  
        //- .col-lg-4.mr-auto.text-center
        //-   i.fas.fa-envelope.fa-3x.mb-3.text-muted
        //-   a.d-block(href='mailto:gabrielemargutti') 
  // Footer
  footer.bg-light.py-5
    .container
      .small.text-center.text-muted Sapienza 2019

  // Bootstrap core JavaScript  
  script(src='vendor/jquery/jquery.min.js')
  script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='vendor/jquery-easing/jquery.easing.min.js')
  script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
  // Custom scripts for this template
  script(src='javascripts/creative.min.js')

  #fb-root
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  script(src='/vendor/countrySelect/build/js/countrySelect.min.js')
  script.
    $("#country").countrySelect();