doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Trending Navigator
    // Font Awesome Icons
    link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='/vendor/magnific-popup/magnific-popup.css', rel='stylesheet')
    link(rel='stylesheet' href='/vendor/countrySelect/build/css/countrySelect.css')
    // Theme CSS - Includes Bootstrap
    link(href='/stylesheets/creative.min.css', rel='stylesheet')
    // Bootstrap core JavaScript
  body
    block content
